In [1]:
#importing libraries

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn import metrics

In [4]:
df= pd.read_csv('HousingPrices.csv')
display(df.head)

C:\Users\Ananya Pal\AppData\Local\Temp\ipykernel_30536\2112662359.py:1: DtypeWarning: Columns (31,49,51) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv('HousingPrices.csv')

<bound method NDFrame.head of        MI_OBJ_OIS_PROPERTY_ID  MI_OBJ_OIS_PROPERTY_NUMBER  \
0                   360002585                      2585.0
1                   615293071                    293071.0
2                   860038009                     38009.0
3                  1010000002                         2.0
4                  1010000004                         4.0
...                       ...                         ...
49284              8600038527                     38527.0
49285              8600038952                     38952.0
49286              8600038954                     38954.0
49287              8600039226                     39226.0
49288              8600039303                     39303.0

       MI_OBJ_OIS_MOTHER_ID  MI_OBJ_OIS_MUNICIPALITY_NUMBER  \
0                       0.0                             360
1                       0.0                             615
2                       0.0                             860
3                  241700.0                             101
4                  241700.0                             101
...                     ...                             ...
49284                   0.0                             860
49285                   0.0                             860
49286                   0.0                             860
49287               18001.0                             860
49288               18656.0                             860

       MI_OBJ_OIS_POSTAL_CODE MI_OBJ_OIS_RENTED_PLOT  \
0                      4953.0                      N
1                      8751.0                      N
2                      9870.0                      N
3                      2300.0                      N
4                      2300.0                      N
...                       ...                    ...
49284                  9800.0                      N
49285                  9800.0                      N
49286                  9800.0                      N
49287                  9800.0                      N
49288                  9800.0                      N

       MI_OBJ_OIS_OWNERSHIP_CODE_PROPERTY  MI_OBJ_OIS_OWNERSHIP_CODE_UNIT  \
0                                    10.0                             NaN
1                                    10.0                             NaN
2                                    10.0                             NaN
3                                    10.0                            90.0
4                                    10.0                            90.0
...                                   ...                             ...
49284                                10.0                             NaN
49285                                10.0                             NaN
49286                                10.0                             NaN
49287                                10.0                            40.0
49288                                30.0                            40.0

       MI_OBJ_OIS_PROPERTY_APPLICATION_CODE_UNIT  \
0                                          120.0
1                                            NaN
2                                            NaN
3                                          140.0
4                                          140.0
...                                          ...
49284                                      510.0
49285                                        NaN
49286                                      120.0
49287                                      140.0
49288                                      140.0

       MI_OBJ_OIS_PROPERTY_APPLICATION_CODE_BUILDING  ...  C20_6MONTH%  \
0                                              120.0  ...        21.54
1                                                NaN  ...        19.31
2                                                NaN  ...        28.53
3                                              140.0  ...        28.23
4                                              140.0  ...        28.30
...                                              ...  ...          ...
49284                                          510.0  ...        31.89
49285                                            NaN  ...        17.82
49286                                          120.0  ...        18.70
49287                                          140.0  ...        30.15
49288                                          320.0  ...          NaN

       C20_12MONTH% SCHOOL_DISTANCE_1  SCHOOL_DISTANCE_2 SCHOOL_DISTANCE_3  \
0             36.81           5425.42            5778.04           5854.45
1             22.57            887.08            2542.69           5754.62
2             30.18           1294.14            1294.14           2137.98
3             36.60           1045.23            1383.67           1443.80
4             36.19           1045.23            1383.67           1443.80
...             ...               ...                ...               ...
49284         37.86           3790.16            5758.68           9378.36
49285         24.03            537.40             537.40            537.40
49286         33.61            542.46             542.46            542.46
49287         28.24            740.54             892.16           1061.93
49288           NaN               NaN                NaN               NaN

       SUPERMARKET_DISTANCE_1 SUPERMARKET_DISTANCE_2  SUPERMARKET_DISTANCE_3  \
0                     5551.78                5852.82                 5980.20
1                     1114.38                2760.41                 2769.31
2                      861.44                 929.94                 1058.68
3                      132.97                 323.57                  538.37
4                      132.97                 323.57                  538.37
...                       ...                    ...                     ...
49284                  839.98                1081.58                 2798.10
49285                  402.35                 565.21                  628.33
49286                  355.13                 512.37                  621.07
49287                  118.15                 242.37                  242.82
49288                     NaN                    NaN                     NaN

      KOEBESUM_BELOEB   OMREGNINGS_DATO
0           1050000.0  24-03-2015 00:00
1            450000.0  05-03-2015 00:00
2            176790.0  22-06-2015 00:00
3           1352500.0  03-06-2015 00:00
4           3500000.0  02-06-2015 00:00
...               ...               ...
49284       2150000.0  22-05-2015 00:00
49285        860000.0  23-02-2015 00:00
49286       2550000.0  22-03-2015 00:00
49287       1950000.0  15-06-2015 00:00
49288             NaN               NaN

[49289 rows x 91 columns]>

In [5]:
#understanding the data

df.shape

(49289, 91)

In [6]:
#to understand statistical details of the dataset
df.describe()

,MI_OBJ_OIS_PROPERTY_ID,MI_OBJ_OIS_PROPERTY_NUMBER,MI_OBJ_OIS_MOTHER_ID,MI_OBJ_OIS_MUNICIPALITY_NUMBER,MI_OBJ_OIS_POSTAL_CODE,MI_OBJ_OIS_OWNERSHIP_CODE_PROPERTY,MI_OBJ_OIS_OWNERSHIP_CODE_UNIT,MI_OBJ_OIS_PROPERTY_APPLICATION_CODE_UNIT,MI_OBJ_OIS_PROPERTY_APPLICATION_CODE_BUILDING,MI_OBJ_OIS_PROPERTY_USE_CODE,...,C20_3MONTH%,C20_6MONTH%,C20_12MONTH%,SCHOOL_DISTANCE_1,SCHOOL_DISTANCE_2,SCHOOL_DISTANCE_3,SUPERMARKET_DISTANCE_1,SUPERMARKET_DISTANCE_2,SUPERMARKET_DISTANCE_3,KOEBESUM_BELOEB
count,4.928900e+04,49287.000000,49285.000000,49289.000000,49270.000000,49284.000000,12745.000000,47659.000000,48265.000000,49227.000000,...,45151.000000,45151.000000,45151.000000,45114.000000,45115.000000,45115.000000,45114.000000,45115.000000,45115.000000,4.515100e+04
mean,4.435598e+09,157592.750847,57748.906706,443.577593,5404.927299,11.659139,84.109376,166.404666,168.358645,7.252057,...,10.604311,17.125690,29.771169,1230.291462,2373.344250,3178.911875,801.775383,1346.466282,1785.893517,2.237690e+06
std,2.573826e+09,231544.042347,151288.941211,257.373506,2523.034337,6.364250,18.631709,115.276458,115.891314,8.933193,...,10.194786,12.432805,7.495520,1652.555798,2590.744808,3179.753131,1030.796683,1550.113768,1903.978971,5.814333e+06
min,3.600026e+08,1.000000,0.000000,101.000000,0.000000,10.000000,10.000000,0.000000,0.000000,0.000000,...,-9.080000,-3.200000,16.370000,0.020000,54.390000,108.470000,0.150000,3.020000,25.490000,1.000000e+00
25%,2.010091e+09,12891.000000,0.000000,201.000000,2900.000000,10.000000,90.000000,120.000000,120.000000,1.000000,...,2.180000,5.570000,23.850000,375.212500,712.825000,984.205000,206.760000,363.280000,485.905000,9.500000e+05
50%,3.900024e+09,45642.000000,0.000000,390.000000,4874.000000,10.000000,90.000000,120.000000,120.000000,1.000000,...,8.790000,17.410000,28.430000,639.500000,1247.300000,1754.410000,432.040000,716.740000,960.100000,1.575000e+06
75%,7.270010e+09,188692.500000,4632.000000,727.000000,7870.000000,10.000000,90.000000,140.000000,140.000000,21.000000,...,19.190000,29.000000,35.870000,1241.175000,3484.810000,4785.900000,883.795000,1631.470000,2530.950000,2.535000e+06
max,8.600039e+09,999564.000000,999726.000000,860.000000,9990.000000,90.000000,90.000000,590.000000,590.000000,79.000000,...,33.220000,45.970000,48.670000,19913.990000,49958.650000,51378.430000,9299.170000,14776.210000,18510.950000,4.863689e+08